In [1]:
import pandas as pd


data_path = "data"

In [3]:
# Read the file
df = pd.read_csv(f'{data_path}/MAX86177_20230801_235809.ppg.csv', header=32)
df

,timestamp,sampleNum,tagMEAS1_PPG1,tagMEAS1_PPG2,tagMEAS1_PPG3,tagMEAS1_PPG4,tagMEAS2_PPG1,tagMEAS2_PPG2,tagMEAS2_PPG3,tagMEAS2_PPG4,...,ACCX,ACCY,ACCZ,temperature,RTC,sensor,regAddr,val,I2Caddr,Unnamed: 27
0,1690927089895.778076,1.000000e+00,0_0,0_0,0_0,0_0,0_0,2_1,2_2,2_3,...,1687.0,2592.0,2351.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1690927089903.555908,2.000000e+00,1_0,1_1,1_2,1_3,2_0,2_1,2_2,2_3,...,1695.0,2564.0,2366.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1690927089911.333984,3.000000e+00,1_0,1_1,1_2,1_3,2_0,2_1,2_2,2_3,...,1705.0,2559.0,2359.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1690927089919.111816,4.000000e+00,1_0,1_1,1_2,1_3,2_0,2_1,2_2,2_3,...,1693.0,2581.0,2350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1690927089926.889893,5.000000e+00,1_0,1_1,1_2,1_3,2_0,2_1,2_2,2_3,...,1697.0,2615.0,2361.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8617,stop time,1.690927e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8618,elapsed capture time: 0h01m08s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8619,missed packet count: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8620,incorrect tag count: 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8621,vcpp parser 20220803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# if timestamp is not numeric, convert it to numeric, if its not possible, drop the row
df['timestamp'] = pd.to_numeric(df['timestamp'], errors='coerce')
df = df.dropna(subset=['timestamp'])
df['timestamp']

0       1.690927e+12
1       1.690927e+12
2       1.690927e+12
3       1.690927e+12
4       1.690927e+12
            ...
8612    1.690927e+12
8613    1.690927e+12
8614    1.690927e+12
8615    1.690927e+12
8616    1.690927e+12
Name: timestamp, Length: 8617, dtype: float64

In [11]:
# get the time between each sample
df['timestamp'].diff().unique()

array([       nan, 7.77783203, 7.77807617, 7.77758789, 7.77832031])